body {
    background-color:#e8f4ea;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color:#629999;
}

a {
    color: darkgreen;
    text-decoration: none !important;
}

table {
    width: 10vw;
    height: 10vh;
    border-collapse: collapse;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid black;
}

thead {
    background-color: lightblue;
    color: darkred;
}

tbody {
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
}

td {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
}

ul li {
    color: darkred;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
}

.content li::before {
    content: '\2609  ';
}

.content {
    padding: 20px 10vw 0 10vw;
}

.navbar {  
    background: #c60000;
    /* width: 100%; */
    height: 7vh;
    list-style-type: none;
    padding: 0 0 0 5vw;
    display: flex;
    align-items: center;
    margin: 0;;
}

.navbar li a {
    color: #fff0f0;
    text-decoration: none;
    font-size: large;
    text-align: center;
    padding: 1.5vh 1.025vw;
}

.navbar a:hover {
    background: #630000;
}

.wrapper-abs {
    position: absolute;
    top: 10vw;
    right: 10vw;
}

.align-right {
    text-align: right;
}

.links a:link {
    color:blueviolet;
}

.links a:visited {
    color:darkred;
}

.links a:active {
    color:darkgreen;
}

#headline {
    text-align: center;
    font-weight: 600;
}

#caption {
    font-style: italic;
}

#floating-image {
    float: left;
    margin-right: 1rem;
    padding-top: 0.5rem;
}

.article {
    text-align: justify;
    line-height: 18px;
}

.artists-info > table {
    width: 100%;
}

#encourage {
    color: rgb(196, 21, 21);
}

/*catalog styles*/
.catalog-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-elem {
    margin-bottom: 1.25rem;
    padding: 1.25rem 0 0;
    width: 500px;
    border-top: 1px solid #666;
}

.catalog-elem .catalog-elem-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.catalog-elem .catalog-elem-image {
    position: relative;
    align-self: flex-start;
    overflow: hidden;
    flex: 0 0 auto;
    width: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.catalog-elem .catalog-elem-image::after {
    content: '';
    padding-top: 100%;
    display: block;
}

.catalog-elem .catalog-elem-image+.catalog-elem-content {
    padding-left: 1.25rem;
}

.catalog-elem .catalog-elem-content {
    padding: 0.625rem 1rem 0.625rem 0;
}

.catalog-heading {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.catalog-elem a:hover {
    color: #5263ff;
}
/*-------------------*/
/*artists*/
.row {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 3vw;
    padding: 0 8px;
}
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.image {
    height: 25vw;
    overflow: hidden;
}

.container {
    padding: 0 16px;
}
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
  
.title {
    color: grey;
}
  
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
  
.button:hover {
    background-color: #555;
}
  
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}
/*-------------------*/

.footer {
    padding: 1rem;
    /* width: 100%; */
    height: 7vh;
    background: #c60000;
    color: #fff0f0;
}

#copyright {
    margin: 0;
    padding: 0 0 0 5vw;
}

.wrapper {
    display: flex;
    justify-content: center;
}

#catalogMenu {
    justify-content: center;
}

.btn-red {
    background: #c60000;
    border: 1px solid #c60000;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.btn-red:hover,
.btn-red:active {
  background-color: initial;
  background-position: 0 0;
  color: #c60000;
}

#catalogMenu button:active {
  opacity: .5;
}

#gallery {
    margin: 2vw 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-img {
    margin-top: 1vw;
    width: 25%;
}

.gallery-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}